<html lang="en" class="no-js">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
		<script src="https://code.jquery.com/jquery.js"></script>

		<script src="js/modernizr.js"></script> <!-- Modernizr -->
		<script src="js/assignmentList.js"></script>

		<!-- link css -->
		<link href="css/assignmentlist.css" rel = "stylesheet">

		<center><title>StudyTime</title></center>
	
	</head>

	<body>
		<header class="cd-main-header">
			<a href="mainCalendar" class="cd-logo" style="color:powderblue">StudyTime</a> 
	<!--	<a href="#0" class="cd-logo"><img src="images/cd-logo.svg" alt="Left-hand logo CHANGE"></a> -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<!--	<li class="cd-label"></li> -->
				<li class="btn btn-default">
					<a href="mainCalendar">Main Calendar</a>
				</li>

				<li class="btn btn-default">
					<a href="assignmentlist">Assignment List</a>
				</li>

				<li class="btn btn-default">
					<a href="createAssignment">Create an Assignment</a>
				</li>

				<li class="btn btn-default">
					<a href="help">Help</a>			
				</li>

				<li class="btn btn-default">
					<a href="/">Sign Out</a>
				</li>
		</nav>

		<!-- code for Assignment List goes here -->
		<div class="content-wrapper">
			<div class="section-title">
				<center><h1>Assignment List</h1>
			<br> 
			<br>
			</div>

	        <div class="assignments">
				<form class "form-inline">
					<ul> <!--unordered lists -->
						{{#each assignments}}
						<li>
							<div class="form-group">
								<label><span class="check"><input type = "checkbox" name = "cb" value="cb1"><a href="listview/{{id}}/false" style="color:powderblue">     {{name}}<br>Due: {{due_date}}</a>
								</span></label>
						</li>

						<br>
						{{/each}}
						<br>

						<li><a href="createAssignment" class="button" id="addAssignmentButton">+Create Assignment</a></li>
					</ul>
							</div>

					<br><br><br><br>

				    <div class="hide">
				    	<center><input type="button" id="hide_show" value="Hide Completed Assignments" onclick="toggle(this);">

					</div> 
				</form>
			</div>

			<br>

<!--			<div class="hide">
		    	<center><a href="#" class="button" id="hide_show">Hide Completed Assignments</a>
			</div> 
-->
		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery.menu-aim.js"></script> -->
<script src="js/main.js"></script> <!-- Resource jQuery -->
{{> ga}}
</body>
</html>	