<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--<link rel="stylesheet" href="css/reset.css">  CSS reset -->
	<link rel="stylesheet" href="../css/style.css"> <!-- Resource style -->
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>StudyTime</title>

	<!-- link css -->
		<link href="../css/calendarview.css" rel = "stylesheet">
</head>
<body>
	<header class="cd-main-header">
	<!--	<a href="#0" class="cd-logo"><img src="../images/cd-logo.svg" alt="Left-hand logo CHANGE"></a> -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<!--	<li class="cd-label"></li> -->

				<li class="btn btn-default">
					<a href="../mainCalendar">Main Calendar</a>
				</li>

				<li class="btn btn-default">
					<a href="../assignmentlist">Assignment List</a>
				</li>

				<li class="btn btn-default">
					<a href="../createAssignment">Create an Assignment</a>
				</li>

				<li class="btn btn-default">
					<a href="../help">Help</a>			
				</li>

				<li class="btn btn-default">
					<a href="/">Sign Out</a>
				</li>
		</nav>

		<!-- Something strange happens with calendarView. All the external files need a redirection to the upper folder because the link permanently ends with localhost:3000/calendarview and so clicking on assignmentList for example would result in localhost:3000/calendarview/assignmentlist. Fixed by adding redirection to upper folder to all externals -->

		<!-- code for Assignment Calendar View goes here -->
			<center>
			<div class="section-title">
				<h1>Calendar View</h1>
				<h2>{{name}}</h2>
			</div>

			</center>

			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=250&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=sk3u2tr3dhradfgd7t4j4ie690%40group.calendar.google.com&amp;color=%23182C57&amp;src=don5uqsdhe4rkmrglqdfr504ts%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FLos_Angeles" 
			style="border-width:0;" 
			class="calsize"
			frameborder="0" 
			scrolling="no"></iframe>

			<div class="SectionList">
				<ul class="list">
					{{#each sections}}
						<a href="#0"><li id="Assignment1">{{section_name}}</li></a>
					{{/each}}
				</ul>
				
			</div>
			<div>
                <center><a href="../listview/{{id}}/false" class="button" id="listViewButton">Back to Assignment Timeline</a>
			</div>
			<br>
		</main> <!-- .cd-main-content -->
		<script src="../js/jquery-2.1.4.js"></script>
	<!--	<script src="../js/jquery.menu-aim.js"></script>  -->
		<script src="../js/main.js"></script> <!-- Resource jQuery -->

		<!-- calendar scripts -->
		<script src="../js/jquery-1.11.0.js"></script>
		<script src="../js/calendar.js"></script>
	</body>
</html> 

