<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
<!--	<link href="css/bootstrap.css" rel="stylesheet" /> 
	<link href="css/bootstrap-theme.css" rel="stylesheet" />
-->
	<link href="css/createAssignment.css" rel="stylesheet" />

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>StudyTime</title>
</head>
<body>
	<header class="cd-main-header">
		<a href="#0" class="cd-logo"><img src="images/cd-logo.svg" alt="Left-hand logo CHANGE"></a>

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<!--	<li class="cd-label"></li> -->
				<li class="profileName"> 
					<a href="#0">Profile Name</a>
				</li>

				<li class="btn btn-default">
					<a href="/">Main Calendar</a>
				</li>

				<li class="btn btn-default">
					<a href="assignmentlist">Assignment List</a>
				</li>

				<li class="btn btn-default">
					<a href="createAssignment">Create an Assignment</a>
				</li>

				<li class="btn btn-default">
					<a href="help">Help</a>			
				</li>

				<li class="btn btn-default">
					<a href="signOut">Sign Out</a>
				</li>
		</nav>

		<!-- Code for Create Assignment page goes here -->
		<div class="content-wrapper" id=inputInfo>
			<h1>Create Assignment</h1>
			<div class="middle">
				<br>
				<form id="addAssignemntForm" role="form" method="get" action="/add">
					<div class="form-group">
						<label for="name">Assignment Name:<br></label>
						<input type="text" class="form control" placeholder="Type assignment name" id="name" name="name">
					</div>
					<div class="form-group">
						<label for="due-date">Due Date:<br></label>
						<input type="text" class="form control" id="due_date" placeholder="mm/dd/yyyy" name="due_date">
					</div>
					<div class="form-group">
						<label for="class">Class:<br></label>
						<input type="text" class="form control" placeholder="Type class name" id="class" name="class">
					</div>
				</form>
				
				<div>
					<h3>Sections:</h3>
					{{#each sections}}
						<div>
							<p>{{section_name}}</p>
							<p>Estimated Time"{{section_time}}</p>
						</div>
					{{/each}}
				<div> 

	<!--				
					<form action="list">
						<h3>Sections</h3>
						<p>
							1. 
							<input type="text" class="SectionItem" placeholder="Section name" name="section_name" id="section_name1">
							<input type="text" class="SectionItem" placeholder="Estimated Section Time" name="section_time" id="section_time1">
						</p>
						<p>
							2. 
							<input type="text" class="SectionItem" placeholder="Section name" name="section_name" id="section_name2">
							<input type="text" class="SectionItem" placeholder="Estimated Section Time" name="section_time" id="section_time2">
						</p>
						<button type="button" oneclick="addSection()">Add Section</button>
					</form>
		-->
				<form id="addSectionForm" role="form" method="get" action="/add">
					<h3>Add Section</h3>
					<p>
						<br>
					</p>
					<div class="form-group">
						<label for="section_name">Section Name:<br></label>
						<input type="text" class="form-control" id="section_name" placeholder="Section Name" name="section_name">
					</div>
					<div class="form-group">
						<label for="section_time">Time to Complete Section:<br></label>
						<input type="text" class="form-control" id="section_name" placeholder="Time to Complete" name="section_name">
					</div>
					<input type="submit" id="submitBtn" class="btn btn-default" value="Add the section"></input>
				</form>

				<div class="createTimeline">
					<center><a href= "listView" class="button">Create Assignment Timeline</a>
				</div>
			</div>
		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->
<script src="js/jquery-2.1.4.js"></script>
<script src="js/jquery.menu-aim.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/hci-friends.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html> 

