<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<!--	<link rel="stylesheet" href="css/reset.css"> --><!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
<!-- link css -->
		<link href="css/help.css" rel = "stylesheet">
<!--link js--> 
        <script src="js/help.js"></script>



	<title>StudyTime</title>
</head>
<body>
	<header class="cd-main-header">
	<!--	<a href="#0" class="cd-logo"><img src="images/cd-logo.svg" alt="Left-hand logo CHANGE"></a>  -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<!--	<li class="cd-label"></li> -->
				<li class="profileName"> 
					<a href="#0">Profile Name</a>
				</li>

				<li class="btn btn-default">
					<a href="mainCalendar">Main Calendar</a>
				</li>

				<li class="btn btn-default">
					<a href="assignmentlist">Assignment List</a>
				</li>

				<li class="btn btn-default">
					<a href="createAssignment">Create an Assignment</a>
				</li>

				<li class="btn btn-default">
					<a href="help">Help</a>			
				</li>

				<li class="btn btn-default">
					<a href="/">Sign Out</a>
				</li>
		</nav>

		<div class="content-wrapper">
			<h1>Help Page</h1>
			<h3><strong>Frequently Asked Questions</strong></h2>
			<p>
				<strong>What is StudyTime?</strong>
				<br>
				StudyTime is an app that creates assignment timelines for your assignments. It splits up the assignment into multiple sections with deadlines to hold you accountable and limit procrastination. It also allows you to compile a list of all your assignments across different classes on a single platform so you don't forget anything. 
			</p>
			<p>
				<strong>How do I get rid of assignments I have finished?</strong>
				<br>
				On the Assignment List page, check off the assignment you have completed or want to hide, and then click the "Hide Completed Assignments" button at the bottom of the screen. To see the assignments you've hidden, simply click the "Show Completed Assignments" button.
			</p>
			<p>
				<strong> How do I see more information about an assignment?</strong>
				<br>
				You can view the Assignment Timeline of any assignment by clicking on the assignment name from either the Main Calendar page or from the Assignment List page. 
			</p>
			<p>
				<strong>How do I add a new assignment?</strong>
				<br>
				Navigate to the Create Assignment page from the sidebar (using the symbol in the top right), or from the "+Create Assignment" button from the Assignment List. You must input a class, assignment name, and due date. For the due date follow the format given. If you would like to add sections, which are optional, input the name of the secion and the time you expect it to take (optional), and click "add section". Do this for each section. If you don't input sections StudyTime will automatically split up the dates for you. Then click Create Assignment Timeline and you're done!
			</p>

			<h3><strong>Screen Explanations</strong></h3>
			<p>
				<strong>Main Calendar Page</strong>
				<br> 
				This screen shows all of your assignments on a monthly calendar, followed by a list of the assignments, color-coded based on the class. 
			</p>
			<p>
				<strong>Assignment List</strong>
				<br>
				This screen shows you a list of all of your assignments. You can check off completed assignments and hide or show them using the "Hide Completed Assignments" button at the bottom of the page. 
			<p>
				<strong>Create Assignment</strong>
				<br> 
				This screen allows you to put in the information for your assignment that will be used to make the assignment's timeline. 
			</p>
			<p>
				<strong>Assignment Timeline</strong>
				<br> 
				This screen shows the timeline for your assignment, including when each section should be finished by, along with the name, class and due date of your assignment.  
			</p>
			<p>
				<strong>Assignment Timeline Calendar View</strong>
				<br> 
				This screen is similar to the Main Calendar Page, but it only shows the due dates for the sections of that specific assignment.  
			</p>


		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery.menu-aim.js"></script>-->
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html> 

