<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" href="css/reset.css">-->
		<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
		<script src="js/modernizr.js"></script> <!-- Modernizr -->

		<center><title>StudyTime</title></center>

		<!-- link css -->
		<link href="css/maincalendar.css" rel = "stylesheet">
	</head>

	<body>
		<header class="cd-main-header">
			<a href="#0" class="cd-logo"><img src="images/cd-logo.svg" alt="Left-hand logo CHANGE"></a>

			<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		</header>

		<main class="cd-main-content">
			<nav class="cd-side-nav">
					<li class="profileName"> 
						<a href="#0">Profile Name</a>
					</li>

					<li class="btn btn-default">
						<a href="mainCalendar">Main Calendar</a>
					</li>

					<li class="btn btn-default">
						<a href="assignmentlist">Assignment List</a>
					</li>

					<li class="btn btn-default">
						<a href="createAssignment">Create an Assignment</a>
					</li>

					<li class="btn btn-default">
						<a href="help">Help</a>			
					</li>

					<li class="btn btn-default">
						<a href="/">Sign Out</a>
					</li>
			</nav>

			<!-- Code for main calendar goes here -->
			<!--<div class="content-wrapper"> -->
				<center>
				<div class="section-title">
					<h1>Main Calendar</h1>
				</div>

				</center>

				<div class="month">
					<ul> <!--unordered lists -->
						<li class="calnav-prev" id="button">&lt;</li>
						<li class="calnav-next" id="button">&gt;</li>
						<center>
						<li class="calnav-month"> Month </li>
						<li class="calnav-year"> Year </li>
						</center>
					</ul>
				</div>

				<table style="width:100%" class = "daysmonth">
				  <tr class="weekdayinmonth">
				    <th>Sun</th>
				    <th>Mon</th> 
				    <th>Tue</th>
				    <th>Wed</th>
				    <th>Thu</th> 
				    <th>Fri</th>
				    <th>Sat</th>
				  </tr>
				  <div id="days">
				  	
					</div>
				</table>
				<!--</ul> -->

				<div class="EventList">
					<ul class="list">
						{{#each assignments}}
							<div class="assignment" id="{{class}}">
								<a href="calendarview/{{id}}"><li id="{{class}}">{{name}}</li></a>
							</div>
						{{/each}}
					</ul>
					
				</div>
			<!--</div>-->
		</main>

		<script src="js/jquery-2.1.4.js"></script>
	<!--	<script src="js/jquery.menu-aim.js"></script> -->
		<script src="js/main.js"></script> <!-- Resource jquery -->
		
		<!-- calendar scripts -->
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/calendar.js"></script>

	</body>
</html>
