body {
     font-family: Verdana, sans-serif;
     /*background-color: lightgray;
     border: 1px dotted gray;
     padding: 20px;
     background-color: azure;
     text-align: center;*/
}

h1 {
    color: black;
    background-color:powderblue;
    padding: 50px;
    border-width: 20px 20px 20px 20px;
    border-color:gray;
    border-width: 20px 20px 20px 20px; 
    font-weight: bold;
}
.cd-logo {
    font-size: 23px;
    font-family: verdana;
    font-weight:700;
}

ul {
     list-style-type: none;
     text-align: center;
     font-size: 20px;
     color: 252D2D;
}

.assignments {

     padding-top: 30px;
     padding-bottom: 30px;
     border-style:solid;
     border-width: 10px 10px 10px 10px;
     border-color: powderblue;
     width: 100%;
     background: gray;
}

#checkbox1{
    -webkit-transform:scale(2);
    padding: 10px;
}
.assignments ul li{
    color: paleturquoise;
}

#addAssignmentButton{
    background-color:powderblue;
    border-radius:35px;
    border:2px solid midnightblue;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

#hide_show{
    background-color:powderblue;
    border-radius:35px;
    border:2px solid midnightblue;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}