body {
     font-family: Verdana, sans-serif;
     /*background-color: lightgray;
     border: 1px dotted gray;
     padding: 20px;
     background-color: azure;
     text-align: center;*/
}

h1 {
    color: black;
    background-color:powderblue;
    padding: 50px;
    border-width: 20px 20px 20px 20px; 
    font-weight: bold;
}


ul {
     list-style-type: none;
     text-align: center;
     font-size: 20px;
     color: 252D2D;
}

.assignments {
    padding-top: 30px;
     padding-bottom: 30px;
     width: 100%;
     background: grey;
     color:white;
}

.assignments input{
    -webkit-transform: scale(2);
    padding: 10px;
}

.hide {
    color: black;
    font-size: 20px;
    background-color:powderblue;
    padding-top: 5px;
    padding-bottom: 20px; 
    border-width: 10px 10px 10px 10px;
    border-radius: 30px;
}


.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: powderblue;
    color:black;
}

#hide {
    color: black;
}


