body {
     font-family: Verdana, sans-serif;
     background: white;
     margin:0;
     padding:0;
     width: 100%;
}


.section-title {
     text-align: center;
     background-color: powderblue;
     /*margin-top: 10;*/
     padding-top: 45px;
     padding-bottom: 2px;
     color: black;
     font-size:10px;
     font-weight: normal;
}

.calsize {
     width: 100%;
     height: 50%;
     /*pointer-events: none;*/
}

ul {
     list-style-type: none;
}

.month {
     padding-top: 10px;
     padding-bottom: 10px;
     width: 100%;
     background: grey;
     font-size: 13px;
}

/*
 * Set the beginning positions of previous, month titles, and next
 * to 0 margin
 */
.month ul {
     margin: 0;
     padding: 0;
}


.month ul li {
     color: white;
     text-transform: uppercase;
     letter-spacing: 5px;
}

.month .calnav-month {
     text-align: center;
     padding-bottom: 5px;

}

.SectionList a {
     text-decoration: none;
     color:inherit;
}

#button {
}

.month .calnav-prev {
     float: left;
     padding:15px;
}

.month .calnav-next {
     float: right;
     padding:15px;
}

/*
 * activates button press for previous and next button
 */
.depressed {

}

.weekdays {
     margin: 0;
     padding: 5px 0;
     background-color: powderblue;
}

.weekdays li {
     display: inline-block;
     width: 12%;
     color: grey;
     text-align: center;
     font-size: 12px;
}

.days-odd-month {
     padding: 0;
     background: #eee;
     margin: 0;
}

.days-even-month {
     display: none;
}

.days-odd-month li {
     list-style-type: none;
     display: inline-block;
     width: 11.5%;
     height: 25px;
     text-align: left;
     margin-left: 5px;
     margin-bottom: 20px;
     margin-top: 10px;
     
     font-size: 10px;
     color: #777;

}

.SectionList {
     background: grey;
     margin: 0;
     padding-top: 20px;
     font-size: 10px;
     color: black;
     letter-spacing: 2px;
}

.SectionList ul{
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom:20px;


     list-style-type: none;
     margin-top: 0px;
     background: white;
     display: block;
}

.SectionList li {
     list-style-type: none;
     background: powderblue;
     padding-top: 15px;
     padding-bottom: 15px;
     margin-bottom: 10px;

     text-align: center;
     /*padding-left: 200px*/

}

.SectionList li#Assignment1 {
     background: mistyrose;
}

.SectionList li#Assignment2 {
     background:lightgreen;
}

.SectionList li#Assignment3 {
     background: paleturquoise;
}

#listViewButton{
    background-color:powderblue;
    border-radius:35px;
    border:2px solid midnightblue;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
