h1 {
    color: black;
    background-color:powderblue;
    padding: 2px;
    border-width: 10px 10px 10px 10px;
    border-color:gray;
    font-weight: bold;
}

.cd-logo {
    font-size: 23px;
    font-family: verdana;
    font-weight:700;
}