body {
     font-family: Verdana, sans-serif;
}

h1 {
    color: black;
    background-color:powderblue;
    padding: 50px;
    border-width: 20px 20px 20px 20px;
    border-color:gray;
    font-weight: bold;
}

#assignmentName{
    color: pink;
}


#mainEditButton{
    background-color:powderblue;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:5px;
    border:2px solid gray;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
ul{
    list-style-type: none;
}

#calendarViewButton{
    background-color:powderblue;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:5px;
    border:2px solid gray;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

