body {
     font-family: Verdana, sans-serif;
}

h1 {
    color: black;
    background-color:powderblue;
    padding: 50px;
    border-width: 20px 20px 20px 20px;
    border-color:gray;
    font-weight: bold;
}

#assignmentName{
    color: pink;
}


#mainEditButton{
    background-color:lightpink;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:5px;
    border:2px solid gray;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:6px 6px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

#individualEditCheckpoint{
    background-color:NavajoWhite;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:5px;
    border:2px solid gray;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:4px 4px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

ul {
    list-style-type: none;
     text-align: center;
     font-size: 20px;
}

.stepsList ul li{
    color:red;
}
#stepsCheckboxes{
    -webkit-transform:scale(1.5);
    padding: 10px;
}

/*.stepsList{
    padding-top: 30px;
     padding-bottom: 30px;
     border-style:solid;
     border-width: 10px 10px 10px 10px;
     border-color: powderblue;
     width: 100%;
     background: gray;
}*/

#calendarViewButton{
    background-color:powderblue;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:5px;
    border:2px solid royalblue;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Verdana;
    font-size:15px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}


/*.stepsList{
     padding-top: 30px;
     padding-bottom: 30px;
     border-style:solid;
     border-width: 10px 10px 10px 10px;
     border-color: powderblue;
     width: 100%;
     background: gray;
}*/
