body {
     font-family: Verdana, sans-serif;
     background: white;
     margin:0;
     padding:0;
     width: 100%;
}


.section-title {
     text-align: center;
     background-color: powderblue;
     /*margin-top: 10;*/
     padding-top: 45px;
     padding-bottom: 2px;
     color: black;
     font-size:10px;
     font-weight: normal;
}

ul {
     list-style-type: none;
}

.month {
     padding-top: 10px;
     padding-bottom: 10px;
     width: 100%;
     background: grey;
     font-size: 13px;
}

/*
 * Set the beginning positions of previous, month titles, and next
 * to 0 margin
 */
.month ul {
     margin: 0;
     padding: 0;
}


.month ul li {
     color: white;
     text-transform: uppercase;
     letter-spacing: 5px;
}

.month .calnav-month {
     text-align: center;
     padding-bottom: 5px;

}

.EventList a {
     text-decoration: none;
     color:inherit;
}

#button {
}

.month .calnav-prev {
     float: left;
     padding:15px;
}

.month .calnav-next {
     float: right;
     padding:15px;
}


/*
.weekdays {
     margin: 0;
     padding: 5px 0;
     background-color: powderblue;
}

.weekdays li {
     display: inline-block;
     width: 12%;
     color: grey;
     text-align: center;
     font-size: 12px;
}
*/

.weekdayinmonth th {
     text-align: center;
     color: grey;
     font-size: 12px;
     background-color: powderblue;
     padding: 5px 0;
     font-weight: normal;
}

/*
.days-in-month {
     padding: 0;
     background: #eee;
     margin: 0;
}


.days-in-month li {
     list-style-type: none;
     display: inline-block;
     width: 11.5%;
     height: 25px;
     text-align: left;
     margin-left: 5px;
     margin-bottom: 20px;
     margin-top: 10px;
     
     font-size: 10px;
     color: #777;

}
*/

.daysmonth {
     border-collapse: collapse;
     table-layout: fixed;
     text-align: center;
     font-size: 10px;
     color: #777;
     margin-bottom: 10px;
}

.daysmonth td {
     padding-top: 10px;
     padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
}

.EventList {
     background: grey;
     margin: 0;
     padding-top: 20px;
     font-size: 10px;
     color: black;
     letter-spacing: 2px;
}

.EventList ul{
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom:50px;


     list-style-type: none;
     margin-top: 0px;
     background: white;
     display: block;
}

.EventList .assignment li {
     list-style-type: none;
     background: powderblue;
     padding-top: 15px;
     padding-bottom: 15px;
     margin-bottom: 10px;

     text-align: center;
     /*padding-left: 200px*/

}

.EventList li#Assignment1 {
     background: mistyrose;
}

.EventList li#Assignment2 {
     background:lightgreen;
}

.EventList li#Assignment3 {
     background: paleturquoise;
}
