body {
     font-family: Verdana, sans-serif;
     /*background-color: lightgray;
     border: 1px dotted gray;
     padding: 20px;
     background-color: azure;
     text-align: center;*/
}

h1 {
    color: black;
    background-color:powderblue;
    padding: 70px;
    border-width: 20px 20px 20px 20px;
}

ul {
     list-style-type: none;
     text-align: center;
}

ul li{
   font-size: 40px;
   color: 252D2D;
}



