body {
     font-family: Verdana, sans-serif;
     /*background-color: lightgray;
     border: 1px dotted gray;
     padding: 20px;
     background-color: azure;
     text-align: center;*/
}

h1 {
    color: 252D2D;
    background-color:powderblue;
    padding: 70px;
    border-width: 20px 20px 20px 20px;
}

ul {
     list-style-type: none;
     text-align: center;
     font-size: 20px;
     color: 252D2D;
}

.assignments {
    padding-top: 30px;
     padding-bottom: 30px;
     width: 100%;
     background: grey;
     color:white;
}

.hide {
    color: black;
    font-size: 20px;
    background-color:powderblue;
    padding-top: 30px;
    padding-bottom: 30px;
    border-style:;
    border-width: 10px 10px 10px 10px;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}



